<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Add author</title>
</head>
<body>
    <form id="edit-form" th:action="@{/author/add}" th:object="${author}" th:method="post" action="addauthor.html">
        <h1>Author Info:</h1>
        <div class="row">
            <label for="holder-input">Name:</label>
            <input id="holder-input" name="name" type="text"/>
        </div>
        <div class="row">
            <button class="save" type="submit">Save</button>
        </div>
    </form>
</body>
</html>
